<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      [alt]="recipe.name"
      style="max-width: 300px"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" class="dropdown-item" (click)="onAddToShoppingList()" type="button">To Shopping List</a></li>
        <li><a href="#" class="dropdown-item" type="button">Edit Recipe</a></li>
        <li><a href="#" class="dropdown-item" type="button">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredient"
      >
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
